/*
 * Config for subworkflow test: bam_markduplicates_multimapper/run_test.nf
*/

params {
    // Required — override on CLI or set path below
    test_bam        = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/test/OICR_INPUT_REP3_T1.Lb.sorted.bam'
    test_sample_id  = 'OICR_INPUT_REP3_T1'

    // Defaults match test1.config (SCI paths)
    fasta       = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/genome/GRCh38.primary_assembly.genome.fa.gz'
    fai             = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/test/GRCh38.primary_assembly.genome.fa.fai'
}
