/*
 * Config for subworkflow test: bam_markduplicates_multimapper/run_test.nf
 *
 * Usage (from 02_chipseq/):
 *   nextflow run subworkflows/local/bam_markduplicates_multimapper/run_test.nf \
 *     -c subworkflows/local/bam_markduplicates_multimapper/test.config \
 *     -c test1.config \
 *     -profile mamba,lsf,singularity \
 *     --test_bam /path/to/sample.mLb.sorted.bam \
 *     -resume
 */

params {
    // Required — override on CLI or set path below
    test_bam        = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/test/OICR_INPUT_REP3.mLb.sorted.bam'
    test_sample_id  = 'OICR_INPUT_REP3'

    // Defaults match test1.config (SCI paths)
    fasta           = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/genome/GRCh38.primary_assembly.genome.fa.gz'
    fai             = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/genome/GRCh38.primary_assembly.genome.fa.gz.fai'

    aligner                 = 'bowtie2'
    outdir                  = 'results_multimapper_test'
    publish_dir_mode        = 'symlink'
    save_align_intermeds    = true
}

includeConfig '../../../conf/base.config'
includeConfig '../../../conf/modules.config'
