/*
 * Config for subworkflow test: bam_markduplicates_multimapper/run_test.nf
 *
 * From pipeline root (02_chipseq/):
 *   nextflow run subworkflows/local/bam_markduplicates_multimapper/run_test.nf \
 *     -c subworkflows/local/bam_markduplicates_multimapper/test2.config \
 *     -profile mamba,lsf,singularity \
 *     -resume
 *
 * Or from this directory:
 *   nextflow run run_test.nf -c test2.config -profile mamba,lsf,singularity -resume
 */

includeConfig '../../../nextflow.config'
includeConfig '../../../test1.config'

params {
    test_bam       = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/test/OICR_INPUT_REP3_T1.Lb.sorted.bam'
    test_sample_id = 'OICR_INPUT_REP3_T1'

    fasta = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/genome/GRCh38.primary_assembly.genome.fa.gz'
    fai   = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/test/GRCh38.primary_assembly.genome.fa.fai'

    // Override test1.config for subworkflow testing
    aligner              = 'bowtie2'
    outdir               = 'results'
    save_align_intermeds = true
}
