/*
 * Config for subworkflow test: bam_allo_reduce/run_test.nf
 *
 * From pipeline root (02_chipseq/):
 *   nextflow run subworkflows/local/bam_allo_reduce/run_test.nf \
 *     -entry RUN_TEST \
 *     -c subworkflows/local/bam_allo_reduce/test2.config \
 *     -profile mamba,lsf,singularity \
 *     -resume
 *
 * Or from this directory:
 *   nextflow run run_test.nf -entry RUN_TEST -c test2.config -profile mamba,lsf,singularity -resume
 */

includeConfig '../../../nextflow.config'
includeConfig '../../../test1.config'

params {
    // Post-filter merged-library BAM with multimappers (override on CLI if needed)
    test_bam        = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/test/test.bam'
    test_sample_id  = 'test_allo'
    test_single_end = false
    test_is_control = true    // input/control sample → Allo runs with --random

    fasta = '/home/kai.hu-umw/pi/arthur.mercurio-umw/BingSun/042026_ChIPseq/genome/GRCh38.primary_assembly.genome.fa.gz'

    // Overrides for subworkflow testing
    aligner              = 'bowtie2'
    outdir               = 'results'
    save_align_intermeds = true
    allo_mode            = '--mixed'
}

// Re-apply after param overrides (enabled:/ext.args evaluated at include time)
includeConfig '../../../conf/modules.config'
