/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/chipseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'h3k27ac_cut_run'
    config_profile_description = 'h3k27ac_cut_run'

    // Input data for full size test
    input = "assets/samplesheet_geo_rb_h3k27ac_cut_run_sci.csv"
    
    // Used to calculate --macs_gsize
    read_length = 50

    // Genome references
    genome = 'mm10'

    // MACS2 peaks 
    narrow_peak = false
}
